[submodule "amf"]
	path = NFs/amf
	url = https://github.com/f0lkert/amf.git
[submodule "ausf"]
	path = NFs/ausf
	url = https://github.com/f0lkert/ausf.git
[submodule "n3iwf"]
	path = NFs/n3iwf
	url = https://github.com/f0lkert/n3iwf.git
[submodule "nrf"]
	path = NFs/nrf
	url = https://github.com/f0lkert/nrf.git
[submodule "nssf"]
	path = NFs/nssf
	url = https://github.com/f0lkert/nssf.git
[submodule "pcf"]
	path = NFs/pcf
	url = https://github.com/f0lkert/pcf.git
[submodule "smf"]
	path = NFs/smf
	url = https://github.com/f0lkert/smf.git
[submodule "udm"]
	path = NFs/udm
	url = https://github.com/f0lkert/udm.git
[submodule "udr"]
	path = NFs/udr
	url = https://github.com/f0lkert/udr.git
[submodule "upf"]
	path = NFs/upf
	url = https://github.com/f0lkert/go-upf.git
[submodule "webconsole"]
	path = webconsole
	url = https://github.com/free5gc/webconsole.git
[submodule "chf"]
	path = NFs/chf
	url = https://github.com/f0lkert/chf.git
[submodule "tngf"]
	path = NFs/tngf
	url = https://github.com/f0lkert/tngf.git
[submodule "NFs/nef"]
	path = NFs/nef
	url = https://github.com/f0lkert/nef.git
[submodule "NFs/bsf"]
	path = NFs/bsf
	url = https://github.com/f0lkert/bsf.git
